html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #c9992d;
    color: white;
    height:60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#menu{
    float:right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
}
li{
    float: left;
    padding: 15 10 22 10;
    font-size: 20px;
}
li:hover{
    background-color: #462F21;
}
a{
    text-decoration: none;
}
#fundo{
    background: url("img/pexels-karolina-grabowska-4464377\ \(4\).jpg");
    height: 100%;
    background-position: center left;
    background-size: cover;
    padding:5%;
}
#titulo{
    color:#462F21;
    padding-top: 10%;
    font-size: 85px;
}
#subtitulo{
    color:#462F21;
    padding-top: 0;
    font-size: 40px;
    padding-bottom: 2%;
}
.paragrafo{
    font-size: 20px;
}
.titulo2{
    font-size:40px;
}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
#acao{
    color:#462F21;
    border: 1px solid #462F21;
    padding: 10 20 10 20;
    border-radius: 4px;
}
#acao:hover{
    background:#C9992D;
}
section{
    padding: 40px;
    float: left;
    width:100%;
}
.bege{
    background-color: #F5F2ED;
    text-align: center;
}
#vida{
    color:#462F21;
}
#imgvida{
    width:80%;
    height:40%;
    padding-left: 10%;
}
#ods{
    background-color:#a6812a;
    color: white;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%; 
}
footer{
    background-color: #462F21;
    color: white;
    text-align: justify;
    float:left;
    width:100%;
}
